body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;   

}

.navbar,.dropdown-menu,.nav-item{
    background-color: #210321;
}

.navbar {
    height: 57px;
    padding-top: 0px;
    font-family: "Poppins", sans-serif;
}

.brand-name{
    letter-spacing: 1px;
}

.brand-name, .nav-name{
    font-size: 20px;
}

.nav-item{
    margin-right: 60px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.nav-link{
    border-top: transparent solid 5px;
}

.nav-link:hover{
    border-top: #5639e1 solid 5px;
}


.dropdown-item:hover{
    background-color: #5637ee;
}


.content-head {
    margin-top: 1.5em;
    padding: 30px;
}

.content-head, .title-box {
    background-color: #F7F7F7; 
    font-family: "Poppins", sans-serif;
    font-size: 38px;
}


.title-box{
    padding: 30px;
    margin-top: 12px;
}


.content-box{
    font-size: 24.5px;
    padding: 80px 25px 80px 28px;
    color: #03081D;
    line-height: 2;
    font-size: 33px;
}


.sign-up-image{
  margin-right: 40px;
}

.sign-up{
  margin-top: 150px;
  margin-left: 30px;
}

.sign-up a {
  color: #ffffff;
  font-weight: 500;
  font-size: 150px;
  text-decoration: none;
  background: #301031;
  border-radius: 80px;
  padding: 28px;
  box-sizing: border-box;
}

.sign-up a:hover {
  color: #5639e1;
}


.footer-links,.footer{
    font-family: "Poppins", sans-serif;
}

.footer-links {
    background-color: #301031;
    height: 500px;
    padding: 100px;
    display: flex;
    justify-content: center;
    
  }
  
  .logo-link {
    margin-top: 70px;
    margin-left: auto;
    width: fit-content;
  }
  
  
  .small-name {
    color: #797979;
  }
  
  
  .footer-links ul {
    border-left: #492948 solid 1px;
    padding-left: 15px;
  }
  
  .footer-links li {
    list-style: none;
    margin-bottom: 15px;
  }
  
  .footer-links a {
      text-decoration: none;
      font-size: 20px;
   }
  
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .social-media {
    color: #ffffff;
    margin-left: 6px;
  }
  
  
  .social-media i:hover {
    color: #ebebeb;
  }
  
  .footer {
    background-color: #210321;
    padding: 25px 0;
  }